#maina{
    width: 95%;
    height: 600px;
   
    padding: 0 2% 0 19px;
    }
#maina h3{color:#39A5E0;font-weight: 400;width:75%;}
#maina .left{
    float: left;
    /*margin-bottom: 30px;*/
    width:43%;}
#maina .left li{
    margin-top: 15px;
}
#maina .righta{
    height:150px;width: 57%;
    margin-bottom: 30px; float: left}
#maina .left li p{
    font-size:12px;}
#maina .right{
    width: 57%;
    margin-bottom: 30px;
    height: 179px;
   float: left}
#maina  img{width: 100%;
    height:100%;}
#footer{
    height:45px;}
#footer .btnnext{width: 100%;background: #1296db;color:#fff;
    height:45px;font-size: 1.5em;
    line-height:45px;}
#submit{
    width:80%;
    height:40px;
    border-radius: 5px;
    background:#44b8fe;
    color: #fff;}