<!DOCTYPE html>
<html>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			.fade-enter-active, .fade-leave-active {
			  /*transition: opacity .5s;*/
			  left:0;
			  transition: .2s;
			}
			.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
			  /*opacity: 0;*/
			 left:100%;
			  transition: .2s; 
			} 
			.im-chat-main ul li{
				font-size: 12px!important;
			}
		</style>
		<link rel="stylesheet" type="text/css" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/im.css" />
    	<link rel="stylesheet" type="text/css" href="../css/im/chat-im.css" />
		<link rel="stylesheet" href="im.css" />
   		<script src="../js/rem.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/loaders.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/loading.css" />

	</head>
		<!--loading页开始-->
	<div class="loading" style="top: 48px; z-index: 9999;">
		<div class="loader" style="top:35%;">
			<div class="loader-inner pacman" >
				<div></div>
				<div></div>
				<div></div> 
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
	<!--loading页结束-->
		
	<body>
		<header class="mui-bar mui-bar-nav" id="header" style="position: absolute; top: 0; margin-top: 0;">
		    <div class="texttop">
		    	<a class="mui-action-back"><img src="../image/back.png" style="position: absolute;top: 10px;left: 10px;"/></a>
		        <span>好友列表</span>
		    </div>
		</header>
		<div class="mui-content" id="app">
    	<!-- 好友列表 -->
	    	<div>
	    		<!--好友列表-->
	    		<ul class="mui-table-view chat-list">
		            <li class="mui-table-view-cell mui-media" v-for="(v,k) of AllFriend"  @click="isShowClick(k)">
		                <img class="mui-media-object mui-pull-left"  :src="getUserInfo(v.Info_Account).pic || defaultHeadUrl">
		                <div class="mui-media-body">{{ getUserInfo(v.Info_Account).nickname || v.Info_Account}}
		                	<p>{{v.msg[v.msg.length-1] ? v.msg[v.msg.length-1].content : ''}}</p>
		                    <span class="time">16:26</span>
		                </div>
		                <div class="tishi" v-show="v.isTishi"></div>
		            </li>
		        </ul>
		        <div v-if="AllFriend.length == 0" style="text-align: center;padding-top: 15px;" >
	            	暂无患者咨询
	            </div>
			    <transition name="fade" v-for="(v,k) of AllFriend" >
			        <div class="msg-content" v-show="v.isShow" :id="k" >
			        	<header class="mui-bar mui-bar-nav" id="header" style="position: absolute; top: 0; margin-top: 0;">
						    <div class="texttop">
						    	<span class="action-back"  @click="isShowClick(k)"><img src="../image/back.png" style="position: absolute;top: 10px;left: 10px;"/></span>
						        <span>{{ getUserInfo(v.Info_Account).nickname || v.Info_Account}}</span>
						    </div>
						</header>
				        <!--聊天-->
				        <div class="im-chat-main "  id="scr"> 
					        <ul id="msg_list" class="msg_list" style="overflow-y: auto;"> 
					        	<li style="font-size: 14px;
					        		text-align: center;
					        		padding-left: 0;"
					        		v-show="v.islishiShow"
					        		@click="getlishi(k)"
					        		 >获取历史消息</li>
					           	<li v-for="(item,index) of v.msg" v-bind:class="{ 'im-chat-mine':item.isSend }" >
					                <div class="im-chat-user">   
					                    <img :src="getUserInfo(item.fromAccountNick).pic || item.fromAccountImage"/>
					                    <cite v-if="item.isSend">
					                    	<i>{{ common.crtTimeFtt(item.time,1) }}</i>
					                    	{{getUserInfo(item.fromAccountNick).nickname || item.fromAccountNick}}
					                    </cite>
					                    <cite v-else>
					                    	{{getUserInfo(item.fromAccountNick).nickname ||  item.fromAccountNick}}
					                    	<i>{{ common.crtTimeFtt(item.time,1) }}</i>
					                    </cite> 
					                </div>
					                <div class="im-chat-text" v-html="item.content"></div>
					            </li>
					        </ul> 
					    </div>
					    <footer style="z-index: 999;">
						    <div class="footer-left" >
						        <!--<i class="mui-icon chat-icon chat-icon-voice"></i>-->
						    </div> 
						    <div class="footer-center"> 
						        <div type="text"  contenteditable="true" @click="showContentClick(k)" class="input-text message"></div> 
						        <!--<div class="mui-btn mui-btn-outlined voice-btn">按住 说话</div>-->
						    </div> 
						    <div class="footer-right">
						    	
				    			<div class="emoj"></div>
						        <i class="mui-icon chat-icon chat-icon-face" @click="showEmojiClick(k)" style="margin-right: 0.2rem; padding-left: 10px;"></i>
						        <!--<i class="mui-icon chat-icon chat-icon-add-more" style="width: 46px;"></i>-->
						        <div class="mui-btn mui-btn-success" @click="sendMessage(k)">发送</div>
						    </div>
						</footer> 
						<!-- 表情 -->
						<div id="face-content" v-show="v.showEmoji" class="face-content">
					        <div id="Gallery" class="mui-slider">
					            <div class="mui-slider-group">
					                <div class="mui-slider-item">
					                    <ul class="clear face-list">
					                        <li v-for="(item,index) of Emotions" @click="selEmojiClick(item[0],k)" :title="item[0]"><img :src="item[1]"></li>
					                    </ul>
					                </div>
					            </div> 
					        </div>
					    </div>
			        </div>
			    </transition>   
	    	</div>
        
    	</div>
	</body>
<script src="../js/jquery-1.8.3.min.js"></script>
<script src="../js/common/mui.js"></script>
<script src="../js/common/castapp.js"></script>
<script src="../js/common/vue.js"></script>
<script src="../js/common/common.js"></script>  
<script> 
	mui.init({
		swipeBack:false //启用右滑关闭功能
	});
	mui.plusReady(function(){
		plus.webview.currentWebview().setStyle({ 
			softinputMode: "adjustResize",
			background:'#ffffff' 
		});
	})
//	mui.back = function (){
//		alert();
//	}
	
</script>
<!--表情-->
<script type="text/javascript" src="../js/im/emoj.js"></script>
<!-- imsdk --> 
<script type="text/javascript" src="../WebIm/sdk/webim.js"></script>
<script type="text/javascript" src="../WebIm/sdk/json2.js"></script>
<!-- 监听 C2C 消息通道的处理 -->
<script type="text/javascript" src="../WebIm/js/msg/receive_new_msg.js"></script>

<script type="text/javascript" src="../WebIm/js/msg/receive_friend_system_msg.js"></script>
<script type="text/javascript" src="../js/im/listeners.js"></script>
<!--<script type="text/javascript" src="WebIm/js/webim.js"></script>-->
<!--解析一条消息-->
<script type="text/javascript" src="../WebIm/js/common/show_one_msg.js"></script>

<!-- 自己逻辑代码  --> 
<script type="text/javascript" src="js/im/web.js"></script>
<script type="text/javascript" src="js/im/im.js"></script>
<!--<script src="http://jln901.top/VConsole.js"></script>-->     

</html> 
  